<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:fragment="content">
  <div id="page-wrap">
    <div class="panel panel-info">
      <div class="panel-heading">
        Result
      </div>
      <div class="panel-body">
        <div th:each="p : ${list}">
          <div class="panel panel-default">
            <p th:text="${p.status.message}"></p>
            <label>
              <th:block th:switch="${p.sentiment.sentimen}">
                <div th:case="'-1'" th:text="'Negatif'"></div>
                <div th:case="'0'" th:text="'Netral'"></div>
                <div th:case="'1'" th:text="'Positif'"></div>
              </th:block>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var x = [[${list}]];
//    console.log(x);

    /*]]>*/
  </script>

</div>
</body>
</html>
