<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:fragment="content">
  <div id="page-wrap">
    <div class="panel panel-info">
      <div class="panel-heading">
        Result
      </div>
      <div class="panel-body">
        <div th:each="p : ${list}">
          <div class="panel panel-default">
            <label>
              <p th:text="${p.member.name}"></p>
            </label>

            <a th:href="@{/page/ListSummary(id=${p.member.id})}" class="pull-right">
              <strong>
                <div th:text="${p.total}"></div>
              </strong>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var x = [[${list}]];
//    console.log(x);

    /*]]>*/
  </script>

</div>
</body>
</html>
